.background-3d {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Ensures it stays in the background */
  pointer-events: auto; /* Allows mouse interaction with the canvas */
}

.background-3d canvas {
  width: 100% !important;
  height: 100% !important;
}